node_modules/
dist/
dist-bin/
release/
releases/
electron/dist/
*.db-journal
*.db-wal
*.db-shm
server/assets/uploads/*
server/assets/generated/*
server/assets/knowledge/*
database/fabrika.db
.env
*.db
.DS_Store
